<div class="actionableSearchDrawer is-open" data-behavior="actionableSearchDrawer">
        <div class="layout layout--halfMargin">
    <div class="content">
        <form class="form searchBar searchBar--inverted" action="/search/" method="get" role="search" novalidate="novalidate">

            <label class="searchBar__label formLabel screen-reader-only" id="actionable-search-drawer-label" for="actionable-search-drawer-input">
                Search            </label>

            <input class="searchBar__textInput formInput av-search" type="search" name="q" id="actionable-search-drawer-input" placeholder="Search Mailchimp" value="" autocomplete="off" data-behavior="actionableSearchDrawer:searchInput" aria-labelledby="actionable-search-drawer-label">

            <button type="submit" class="searchBar__submit formSubmit" aria-label="Search Mailchimp" data-behavior="search-bar:submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--search" aria-label="Search" width="23" height="23" viewBox="0 0 23 23">
    <path fill="#241C15" d="M23 20.978l-6.595-6.531c1.149-1.511 1.838-3.382 1.838-5.415 0-4.98-4.092-9.032-9.121-9.032-5.03 0-9.121 4.052-9.121 9.032s4.092 9.032 9.121 9.032c1.936 0 3.73-.605 5.208-1.628l6.628 6.563 2.042-2.022zm-20.991-11.945c0-3.883 3.191-7.043 7.112-7.043s7.112 3.159 7.112 7.043-3.191 7.043-7.112 7.043-7.112-3.159-7.112-7.043z"></path>
</svg>
            </button>
        </form>

                    <section class="margin--top-2 recommendedSearchQueries" data-module-id="recommendedSearchQueries" data-entry-id="1j81jwtvBeiiESJ0PlaGH7" data-context-text="Try searching for">

    <h3 class="microHeading margin--bottom-2">Try searching for</h3>
    <ul class="flex align--center">
        <li data-context-metadata="{&quot;itemIndex&quot;: 1}" class="h5 margin--right-1 margin--bottom-1">
            <a href="/search/?q=landing%20pages">landing pages</a>
        </li><li data-context-metadata="{&quot;itemIndex&quot;: 2}" class="h5 margin--right-1 margin--bottom-1">
            <a href="/search/?q=api">api</a>
        </li><li data-context-metadata="{&quot;itemIndex&quot;: 3}" class="h5 margin--right-1 margin--bottom-1">
            <a href="/search/?q=quickbooks">quickbooks</a>
        </li><li data-context-metadata="{&quot;itemIndex&quot;: 4}" class="h5 margin--right-1 margin--bottom-1">
            <a href="/search/?q=integrations">integrations</a>
        </li><li data-context-metadata="{&quot;itemIndex&quot;: 5}" class="h5 margin--right-1 margin--bottom-1">
            <a href="/search/?q=contact%20support">contact support</a>
        </li>    </ul>
</section>
        
        <button class="modal__close" data-behavior="modal:close" aria-label="Close" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--close" width="14" height="14" viewBox="0 0 14 14">
    <path fill="#241c15" d="M14 1.077l-1.077-1.077-5.923 5.923-5.923-5.923-1.077 1.077 5.923 5.923-5.923 5.923 1.077 1.077 5.923-5.923 5.923 5.923 1.077-1.077-5.923-5.923 5.923-5.923z"></path>
</svg>
        </button>
    </div>
</div>
        <div class="actionableSearchDrawer__desktopImage__left">
            <img data-src="/release/plums/cxp/images/search-hand-lft.c3cf150b.png" data-behavior="lazyload" alt="" src="/release/plums/cxp/images/search-hand-lft.c3cf150b.png">
        </div>
        <div class="actionableSearchDrawer__desktopImage__right">
            <img data-src="/release/plums/cxp/images/search-hand-rt.2eb44aca.png" data-behavior="lazyload" alt="" src="/release/plums/cxp/images/search-hand-rt.2eb44aca.png">
        </div>
        <div class="navBar-cover" data-behavior="actionableSearchDrawer:navBar-cover"></div>
    </div>